/*------------------------------------
  Empty div clearing
  ------------------------------------*/
.empty{
  clear: both;
}
/*-------------------------------------
Styling the Headrer
--------------------------------------*/
.container{
  background-color: #D2D9DB;
}
.logo {
  float: left;
}
