/*------------------------------------
  Empty div clearing
  ------------------------------------*/
.empty{
  clear: both;
}
/*-------------------------------------
Styling the Headrer
--------------------------------------*/
.container{
  background-color: #FFF;
}
.logo {
  float: left;
  height: 50px;
  width: 250px
}

/*------------------------------------
styling the main section of the page
--------------------------------------*/
.main{
  background-color: #1C354E;
}
