/*STYLING FOOTER*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 550px; /* bottom = footer height */
}
.footer {
  font-family: 'Asap', sans-serif;
  letter-spacing: 0.16em;
  font-size: 14px;
  font-weight: 600;
  color: rgb(117,117,117);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 155px;
  width: 100%;
  background-color: rgb(207,207,207);
}
p {
  position: relative;
  top: 41px;
  left: 50px;
}
.menu-item {
  display: inline;
  padding: 5px;
}
.bottom-nav {
  float: right;
  padding-top: 9px;
  padding-right: 40px;
}
.bottom-nav ul {
  margin: 0px;
}
.clearfix {
  clear: both;
}
.social-item {
  display: inline-block;
  padding-left: 33px;
  font-size: 15px;
}
.social-icons {
  float: right;
  padding-right: 82px;
}
/*------------------------------------
  Empty div clearing
  ------------------------------------*/
.empty{
  clear: both;
}
/*-------------------------------------
Styling the Headrer
--------------------------------------*/
.container{
  background-color: #D2D9DB;
}
.logo {
  float: left;
}
